.bg-img--container {
    background-image: url("./assets/fondo.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.w-70 {
    width: 70%;
}

.w-40 {
    width: 40%;
}

.w-10 {
    width: 10%;
}

input:checked~.dot {
    transform: translateX(100%);
    background-color: #df0000;
}